@font-face {
  font-family: "establishRetrosansOTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body * {
  font-family: "establishRetrosansOTF";
}

header {
  width: 100%;
  height: 100px;
  background-color: #6fedd6;
}

header > h1 {
  padding-top: 25px;
  font-size: 50px;
  text-align: center;
}

nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: #ff9551;
}

nav > button {
  height: 20px;
  border-style: none;
  border-radius: 15px;
  background-color: #ff4a4a;
}

nav > button:hover {
  border: 2px solid white;
}

main {
  display: flex;
}

section {
  position: relative;
  width: 50%;
  height: 600px;
  text-align: center;
  background-color: #b9fff8;
}

section.todoSection {
  border-right: 4px solid #6fedd6;
}

section > h2 {
  padding: 20px 0;
  font-size: 30px;
}

div.inputArea {
  display: flex;
  position: absolute;
  bottom: 15px;
  left: 50%;
  height: 30px;
  transform: translate(-50%, -50%);
}

div.inputArea > input {
  width: 300px;
  height: 100%;
  border: none;
  border-radius: 10px;
}

button.addButton {
  border: none;
  background-color: transparent;
}

button.addButton > img {
  width: 30px;
  height: 30px;
}

li.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 4px solid #6fedd6;
}

li.listItem > img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  opacity: 0.5;
}

li.listItem:hover {
  background-color: white;
}

footer {
  width: 100%;
  height: calc(100vh - 730px);
  padding: 10px 0 0 10px;
  background-color: #eeeeee;
}
